 .map {
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url('https://i.imgur.com/5CUv2n7.jpg'); 
  background-size: contain
} 

.navBar{
  background-color: black
}

.navBar a{
  color: bisque
}
.navBar a:hover{
  text-decoration: none;
  color: brown
}

.navBar span{
  color: bisque
}

.login{
  float: right;
}

.player{
  width: 65%;
  position: relative;
  margin: auto;
  top: 2em;
  border: 1px solid black;
  padding: 1em;
  background-color: rgba(104, 103, 100, .7);
  border-radius: 5px;
  color:rgb(239, 231, 222)
}

.player h1{
  text-align: center;
}

#playerButton{
  margin-top: 1em;
  position: relative;
  left: 90%
}
.story{
  width: 65%;
  position: relative;
  margin: auto;
  top: 2em;
  border: 1px solid black;
  padding: 1em;
  background-color: rgba(104, 103, 100, .7);
  border-radius: 5px;
  text-align: center;
  color:rgb(239, 231, 222)
}
.story h5{
  text-align: start;
}
.playerUpdate{
  position: relative;
  margin: 40px;
  background-color: rgba(104, 103, 100, .7);
  color:rgb(239, 231, 222);
  border: 1px solid black;
  border-radius: 5px;
}
.playerUpdate h3{
  text-align: center;
}
.welcome{
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  background-color: rgba(104, 103, 100, .7);
  color:rgb(239, 231, 222);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px
}
.signupButton{
  position: relative;
  margin:auto;
  left:50px
}
.loginButton{
  position: relative;
  margin:auto
}